<nav>
    <div class="nav-wrapper purple">
     <div class="container">
        <a href="#!" class="brand-logo">TradeEcosystem</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li  <% if ( page == 'Home') {%> class = "active" <%} %>><a href="/"><i class="material-icons left">home</i>HOME</a></li>
          <li  <% if ( page == 'login') {%> class = "active" <%} %>><a href="/login"><i class="material-icons left">lock</i>LOGIN</a></li>
          <li  <% if ( page == 'register') {%> class = "active" <%} %>><a href="/register"><i class="material-icons left">mode_edit</i>SIGN UP</a></li>
        </ul>
     </div>
      <ul class="side-nav" id="mobile-demo">
          <li  <% if ( page == 'Home') {%> class = "active" <%} %>><a href="/"><i class="material-icons left">search</i>HOME</a></li>
          <li  <% if ( page == 'login') {%> class = "active" <%} %>><a href="/login"><i class="material-icons left">view_module</i>LOGIN</a></li>
          <li  <% if ( page == 'register') {%> class = "active" <%} %>><a href="/register"><i class="material-icons left">view_module</i>SIGN UP</a></li>
      </ul>
    </div>
  </nav>

  