<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #303f9f;">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <div class="ml-auto">
      <div class="navbar-nav d-flex">
        <a class="nav-item btn btn-primary shadow-sm" href="/logout">LOG OUT</a>
        <a class="navbar-item nav-link" href='/users/editprofile/'>edit profile</a>

      </div>
     </div>
    </div>
  </div>
</nav>