<% include ./partials/head %>
<% include ./partials/navbar %>

<div class="jumbotron">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
          <h4>SEARCH</h4>
          <div class="input-group mb-3">
            <input type="text" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-dark" type="button" id="button-addon2">SEARCH</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>




