<% include ./partials/head %> <% include ./partials/navbar %>

<div class="container" style="margin-top: 150px;">
    <div class="row">
      <div class="col s12 m12 l4">
        <div class="card">
          <div class="card-content">
            <img src="/images/pic03.jpg" class="z-depth-2 circle" alt="" srcset="" style="margin-top: -150px;">
          </div>
          <div class="card-action center">
            <h5>Boda Agbede</h5>
            <p><span class="bold purple-text">23km</span> from your current position</p>
          </div>
          <div class="card-action">
            <a href="" class="btn purple block">contact</a>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l4">
          <div class="card">
            <div class="card-content">
              <img src="/images/pic03.jpg" class="z-depth-2 circle" alt="" srcset="" style="margin-top: -150px;">
            </div>
            <div class="card-action center">
              <h5>Boda Agbede</h5>
              <p><span class="bold purple-text">23km</span> from your current position</p>
            </div>
            <div class="card-action">
              <a href="" class="btn purple block">contact</a>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l4">
            <div class="card">
              <div class="card-content">
                <img src="/images/pic03.jpg" class="z-depth-2 circle" alt="" srcset="" style="margin-top: -150px;">
              </div>
              <div class="card-action center">
                <h5>Boda Agbede</h5>
                <p><span class="bold purple-text">23km</span> from your current position</p>
              </div>
              <div class="card-action">
                <a href="" class="btn purple block">contact</a>
              </div>
            </div>
          </div>
    </div>
</div>
