<% include ../partials/head %> <% include ../partials/providernavbar %>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l8 offset-l2">
        <div class="card" style="margin-top: 18vh;">
            <div class="card-content">
                <div class="center" style="margin-top: -20vh;">
                    <img src="/images/pic03.jpg" width="200" class="circle" alt="" srcset="">
                </div> 
                <div class="divider"></div>
    
                <ul class="collection">
                    <li class="collection-item">Username: <span class="bold"><%= user.name %></span></li>
                    <li class="collection-item"><%= user.email %></li>
                    <li class="collection-item">Alvin</li>
                    <li class="collection-item">Alvin</li>
                  </ul>
            </div>
            <div class="card-action">
              <a href="/logout" class="btn purple waves-effect waves-light block">log out</a>

            </div>
        </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>